# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables (Never upload secrets!)
.env

# Virtual environments
venv/
.venv/
env/

# IDE / Editor configurations
.vscode/
.idea/
